
.ipynb_checkpoints/SpacyBasics-checkpoint.ipynb
.ipynb_checkpoints/01-Tokenization-checkpoint.ipynb
.ipynb_checkpoints/Tokenization-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/StopWords-checkpoint.ipynb
1. NLP basics/.ipynb_checkpoints/4. Vocabulary-and-Matching-checkpoint.ipynb
